name: Verify Build

on:
  push:
    branches: [ main, citest ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
  GRADLE_ENTERPRISE_CACHE_USERNAME: ${{ secrets.GE_SOLUTIONS_CACHE_USERNAME }}
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GE_SOLUTIONS_CACHE_PASSWORD }}
jobs:
  generate_versions:
    name: Generate versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: setup-matrix
        run: echo "::set-output name=matrix::$(jq -cM '.supportedVersions | keys' src/main/resources/versions.json | sed -e 's/\./_/g' -e 's/-/_/g')"
      - name: debug
        run: echo ${{ steps.setup-matrix.outputs.matrix }}
    outputs:
      matrix: ${{ steps.setup-matrix.outputs.matrix }}

  sanity_check:
    name: Sanity check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run sanityCheck
        run: ./gradlew sanityCheck

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run unit tests
        run: ./gradlew test

  android_version_tests:
    name: Android version tests
    needs: [ generate_versions, sanity_check ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions: ${{ fromJson(needs.generate_versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2
      # Patch issue in platform-tools 31.0.3 where platform-tools/api/api-versions.xml is missing (see https://issuetracker.google.com/issues/195445762)
      - name: Patch api-versions
        run: sudo test -f $ANDROID_HOME/platform-tools/api/api-versions.xml || (sudo mkdir $ANDROID_HOME/platform-tools/api && sudo cp .github/api-versions.xml $ANDROID_HOME/platform-tools/api/api-versions.xml)
      - name: List Android Packages
        run: sudo $ANDROID_HOME/tools/bin/sdkmanager --list | sed -n '/Available Packages/q;p'
      - name: Setup ZULU_JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11.0.12
          distribution: 'zulu'
      - name: Set ZULU_JDK environment variable
        run: |
          echo "ZULU_JDK=$JAVA_HOME" >> $GITHUB_ENV
      - name: Setup ZULU_ALT_JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11.0.13
          distribution: 'zulu'
      - name: Set ZULU_ALT_JDK environment variable
        run: |
          echo "ZULU_ALT_JDK=$JAVA_HOME" >> $GITHUB_ENV
      - name: Setup TEMURIN_JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11.0.13
          distribution: 'temurin'
      - name: Set TEMURIN_JDK environment variable
        run: |
          echo "TEMURIN_JDK=$JAVA_HOME" >> $GITHUB_ENV
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build and test
        run: ./gradlew testAndroid${{ matrix.versions }} -x signArchives
