name: Verify Build

on:
  push:
    branches: [ main, citest ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  # Artifact Cache Configuration
  ARTIFACT_CACHE_CLI_VERSION: 0.10.0

  # Develocity
  DV_SERVER: https://ge.solutions-team.gradle.com
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}

  # Artifact Cache CLI
  ARTIFACT_CACHE_REPO_USERNAME: ${{ secrets.ARTIFACT_CACHE_REPO_USERNAME }}
  ARTIFACT_CACHE_REPO_PASSWORD: ${{ secrets.ARTIFACT_CACHE_REPO_PASSWORD }}
  ARTIFACT_CACHE_REPO: ${{ secrets.ARTIFACT_CACHE_REPO }}

  # Misc
  ARTIFACT_CACHE_CLI_FILENAME: develocity-artifact-cache-cli
  ARTIFACT_CACHE_OPTS: "--gradle-home=/home/runner/.gradle"

jobs:
  generate_versions:
    name: Generate versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - id: setup-matrix
        shell: bash
        run: |
          set -euo pipefail
          json_to_matrix() {
            file="src/test/resources/versions.json"
            jq -cM '.testedVersions | keys' "$file" | sed -e 's/\./_/g' -e 's/-/_/g'
          }
          json_to_matrix
          echo "matrix=$(json_to_matrix)" >> $GITHUB_OUTPUT
    outputs:
      matrix: ${{ steps.setup-matrix.outputs.matrix }}

  sanity_check:
    name: Sanity check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          cache-disabled: true
          develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Setup and restore Artifact Cache
        uses: ./.github/actions/setup-and-restore-artifact-cache
      - name: Run sanityCheck
        run: ./gradlew sanityCheck -Porg.gradle.java.installations.auto-download=false
      - name: Store Artifact Cache
        uses: ./.github/actions/store-artifact-cache
        with:
          artifact-name: artifact-cache-${{ github.job }}.log

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          cache-disabled: true
          develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Setup and restore Artifact Cache
        uses: ./.github/actions/setup-and-restore-artifact-cache
      - name: Run unit tests
        run: >-
            ./gradlew test
            -x signPluginMavenPublication
            -x signAndroidCacheFixPluginPluginMarkerMavenPublication
            -Porg.gradle.java.installations.auto-download=false
            -Dpts.mode=$PTS_MODE
        env:
          PTS_MODE: "${{ github.ref_name == 'main' && 'REMAINING_TESTS' || 'RELEVANT_TESTS' }}"
      - name: Store Artifact Cache
        uses: ./.github/actions/store-artifact-cache
        with:
          artifact-name: artifact-cache-${{ github.job }}.log

  android_version_tests:
    name: Android version tests
    needs: [ generate_versions, sanity_check ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions: ${{ fromJson(needs.generate_versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup ZULU_JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 17.0.16+8
          distribution: 'zulu'
      - name: Set ZULU_JDK environment variable
        run: |
          echo "ZULU_JDK=$JAVA_HOME" >> $GITHUB_ENV
      - name: Setup ZULU_ALT_JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 17.0.10+7
          distribution: 'zulu'
      - name: Set ZULU_ALT_JDK environment variable
        run: |
          echo "ZULU_ALT_JDK=$JAVA_HOME" >> $GITHUB_ENV
      - name: Set up Java 11
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 11
          distribution: 'temurin'
      - name: Set up Java 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Set up Java 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          cache-disabled: true
          develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Setup and restore Artifact Cache
        uses: ./.github/actions/setup-and-restore-artifact-cache
      - name: Run integration tests
        run: >-
            ./gradlew testAndroid${{ matrix.versions }}
            -x signPluginMavenPublication
            -x signAndroidCacheFixPluginPluginMarkerMavenPublication
            -Porg.gradle.java.installations.auto-download=false
            -Dpts.mode=$PTS_MODE
        env:
          PTS_MODE: "${{ github.ref_name == 'main' && 'REMAINING_TESTS' || 'RELEVANT_TESTS' }}"
      - name: Store Artifact Cache
        uses: ./.github/actions/store-artifact-cache
        with:
          artifact-name: artifact-cache-${{ github.job }}-${{ matrix.versions }}.log

